<!-- Everything here goes inside a carousel item div -->

<div class="profile-election-header">
  <h3 class="profile-election-title">General Election{{"election.name"}}</h3>
  <h4 class="profile-election-date">2/2/2018{{"election.electionDay"}}</h4>
</div>

<div class="profile-contests-list">

  <!-- NOTE: Gonna have to check contest type (i.e. Election, Referendum)-->
  <div class="profile-contest-entry">

    <div class="profile-contest-table">
      <div class="profile-contest-header">
        <h4><span class="profile-red">Contest Type:</span> General{{"contests[0].type"}}</h4>
        <h4><span class="profile-red">Office:</span> U.S. Senate{{"contests[0].office"}}</h4>
      </div>

      <table>
        <tr>
          <th>Candidate</th>
          <th>Party</th>
          <th>Website</th>
          <th>Media</th>
        </tr>

        <tr class="profile-cand-entry">
          <td class="profile-cand-name">Mark Warner{{"contests[0].candidates[0].name"}}</td>
          <td class="profile-cand-party">Democrat{{"contests[0].candidates[0].party"}}</td>
          <td class="profile-cand-url"><a href= {{"contests[0].candidates[0].candidateUrl"}}>Website</a></td>
          <td class="profile-cand-social">
            <!-- NOTE: Check to id for specific social media type in logic -->
            <a class="profile-social profile-social-fb" href= {{"contests[0].candidates[0].channels[0].id"}}>
              <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <!-- NOTE: Check to id for specific social media type in logic -->
            <a class="profile-social profile-social-tw" href= {{"contests[0].candidates[0].channels[1].id"}}>
              <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <!-- NOTE: Check to id for specific social media type in logic -->
            <a class="profile-social profile-social-yt" href= {{"contests[0].candidates[0].channels[2].id"}}>
              <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </td>
        </tr>

        <tr class="profile-cand-entry">
          <td class="profile-cand-name">Ed Gillespie{{"contests[0].candidates[1].name"}}</td>
          <td class="profile-cand-party">Republican{{"contests[0].candidates[1].party"}}</td>
          <td class="profile-cand-url"><a href= {{"contests[0].candidates[1].candidateUrl"}}>Website</a></td>
          <td class="profile-cand-social">
            <!-- NOTE: Check to id for specific social media type in logic -->
            <a class="profile-social profile-social-fb" href= {{"contests[0].candidates[1].channels[0].id"}}>
              <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <!-- NOTE: Check to id for specific social media type in logic -->
            <a class="profile-social profile-social-tw" href= {{"contests[0].candidates[1].channels[1].id"}}>
              <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <!-- NOTE: Check to id for specific social media type in logic -->
            <a class="profile-social profile-social-yt" href= {{"contests[0].candidates[1].channels[2].id"}}>
              <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </td>
        </tr>
      </table>
    </div>

  </div> <!-- End profile contest entry -->
</div> <!-- End Election Entry -->

  <!-- Here is where you would put the voter information -->
  <div class="profile-polling-info">
    <div class="profile-polling-header">
      <h3>Polling Information</h3>
    </div>
    <div class="profile-polling-body row">
      <div class="profile-elections-col col-7">
        <p>
          <span class="profile-polling-highlight">West Springfield Highschool{{"pollingLocations[0].address.locationName"}}</span><br>
          123 Spring St.{{"pollingLocations[0].address.line1"}}<br>
          Chapel Hill, NC 34567<span>{{"pollinglocations[0].city"}}, {{"pollingLocations[0].state"}} {{"pollingLocations[0].zip"}}</span>
        </p>
      </div>

      <div class="profile-elections-col col-5">
        <p>
          <span class="profile-polling-highlight">Polling Hours</span><br> 7:00AM - 7:00PM{{"pollingLocations[0].pollingHours"}}
        </p>
      </div>

    </div>
  </div>
